In [18]:
# This is to create a 2000 row data frame with purposefully incorrect date types in the date column.

## Import Pandas, Numpy and DateTime

In [19]:
import pandas as pd

In [20]:
import numpy as np

In [21]:
from datetime import datetime

## Create lists of First Names and Surname Initials

In [22]:
# List of first_names and list of surname_initials 
first_names = ["Bob","Brian","Betty","Barbara","Clive","Colin","David","Deborah","Dominic","Elena","Erika","Ernie",
             "Frank","Geraldine","Harry","Helen","Julia","Karen","Karly","Katie","Paul","Sonny","Mo","Yvette"]
surname_initials = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T",
              "U","V","W","X","Y","Z"]

In [23]:
# Create a list of numbers between 0 and array lengths, 2000 times (creating 2000 rows)
random_nums_first_names = np.random.randint(0,len(first_names), size=2000)
random_nums_surname_initials = np.random.randint(0,len(surname_initials), size=2000)

In [24]:
# Append first_names[n] with n being each number from our 2000 random numbers
first_names_list = list()
for n in random_nums_first_names:
    first_names_list.append(first_names[n])

In [25]:
# Append surname_initials[n] with n being each number from our 2000 random numbers
surname_initials_list = list()
for s in random_nums_surname_initials:
    surname_initials_list.append(surname_initials[s])

## Create and Populate Name Columns

In [26]:
# Create our data frame columns
df = pd.DataFrame(columns=['First Name', 'Surname Initial'])
df

Empty DataFrame
Columns: [First Name, Surname Initial]
Index: []

In [27]:
# Add the 2000 long list of first names and surname initials created above
df['First Name'] = first_names_list
df['Surname Initial'] = surname_initials_list

df

     First Name Surname Initial
0         Elena               U
1         Ernie               P
2       Deborah               G
3       Barbara               P
4         David               F
...         ...             ...
1995      Karly               U
1996  Geraldine               K
1997    Deborah               M
1998      Clive               P
1999        Bob               D

[2000 rows x 2 columns]

## Create Random Dates List

In [28]:
# Create 2000 random dates
# Create a random month (1-12), random day (1-31 depending on month) and random year from a list of 'years'
random_dates = list()
for i in range(0,2000):
    rand_month = np.random.randint(1,12)
    
    # rand_day range depends on how many days in each month
    if rand_month == 2:
        rand_day = np.random.randint(1,28)
    elif rand_month in (4,6,9,11):
        rand_day = np.random.randint(1,30)
    else:
        rand_day = np.random.randint(1,31)
        
    # list of years
    years = [2015,2016,2017,2018,2019,2021]
    rand_year = years[np.random.randint(0,len(years))]

    # Append the rand_year, rand_month, rand_day as a datetime object
    random_dates.append(datetime(rand_year,rand_month,rand_day))

## Populate Date Started Column

In [ ]:
# Create a new column - filled with the 2000 random dates
df['Date Started'] = random_dates

In [30]:
df

     First Name Surname Initial Date Started
0         Elena               U   2016-06-12
1         Ernie               P   2016-08-27
2       Deborah               G   2017-03-07
3       Barbara               P   2021-08-27
4         David               F   2016-03-25
...         ...             ...          ...
1995      Karly               U   2017-07-13
1996  Geraldine               K   2017-05-10
1997    Deborah               M   2015-04-13
1998      Clive               P   2015-07-02
1999        Bob               D   2019-03-18

[2000 rows x 3 columns]

## Randomly Populate Date Started data with Incorrect Types

In [31]:
# Random list of row numbers where we replace the datetime object with a string
row_nums = np.random.randint(0,2000,size=6)
for n in row_nums:
    df.at[n, 'Date Started'] = 'a string not a datetime date'

# Check random rows contain a string
for n in row_nums:
    print(f"Row number {n}")
    print(df.at[n, 'Date Started'])

Row number 1523
a string not a datetime date
Row number 1833
a string not a datetime date
Row number 152
a string not a datetime date
Row number 436
a string not a datetime date
Row number 722
a string not a datetime date
Row number 1637
a string not a datetime date

In [32]:
# Random list of row numbers where we replace the datetime object with an empty string
row_nums = np.random.randint(0,2000,size=6)
for n in row_nums:
    df.at[n, 'Date Started'] = ''

# Check random rows contain an empty string
for n in row_nums:
    print(f"Row number {n}")
    print(df.at[n, 'Date Started'])

Row number 132

Row number 1104

Row number 327

Row number 984

Row number 1374

Row number 1661

In [33]:
# Random list of row numbers where we replace the datetime object with an integer
row_nums = np.random.randint(0,2000,size=6)
for n in row_nums:
    df.at[n, 'Date Started'] = 52

# Check random rows contain an integer
for n in row_nums:
    print(f"Row number {n}")
    print(df.at[n, 'Date Started'])

Row number 182
52
Row number 857
52
Row number 1679
52
Row number 407
52
Row number 395
52
Row number 343
52

## Save File as a CSV file

In [34]:
# Save our dataframe as a csv file to use in the file '2-create-invalid-dates-report.ipynb'
df.to_csv('employees.csv')